@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AnyPost</h1>
    <p>Simple ASP.NET Core MVC Application, made for learning purposes. Create, browse, and rate posts. <br />
    Made with Entity Framework Core, SQL Database.</p>
</div>
