@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AnyPost</h1>
    <p>Simple ASP.NET Core MVC Application, made for learning purposes. Create, browse, and rate posts. <br />
    Made with Entity Framework Core, SQL Database.
    <br /><b>This web app was basically one of my first private projects, while starting journey with ASP.NET - so, don't look at it, seriously. Or take a quick look, if You want to see my progress..</b></p>
     <a class="nav-link text-dark " asp-area="" asp-controller="Posts" asp-action="Index">But, if You really want to, then jump into AnyPost!</a>
</div>
